@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demonstrate custom list images with :before option. */
.force-li-check-marks ul {
  list-style: none;
}

.force-li-check-marks ul li::marker {
  content: url("/ai_check_outline.svg");
}

.force-li-hearts ul li::marker {
  content: url("/ai_heart_outline.svg");
}
